html{
  font-family:"Open Sans";
}

#todos {
  padding: 20px;
  border: 1px ;
  margin-top: 10px;
  background: #3b3e5b;
}

.todo {
  padding: 5px;
}

body{
  background-color: #2e304f;
  color: white;
}
